.buttonContent {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  padding: 0.15rem;
  font-size: smaller;
  color: var(--darkRed);
  font-weight: 600;
}

.buttonContent:target {
  border: 1px solid;
  border-color: var(--darkRed);
}

.buttonContent:disabled {
  color: var(--darkGrey);
  font-weight: normal;
  cursor: default;
  border: 1px solid;
  border-color: var(--lightGrey);
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .buttonContent {
    height: 2.8rem;
    width: 2.8rem;
    padding: 0.5rem;
  }
}
