.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--darkGrey);
}

.pokemonInfos {
  width: 100%;
  border: 1px solid;
  border-color: var(--mediumGrey);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: var(--white);
}

.infoCard {
  padding: 0.5rem;
}

.pokemonCard {
  border: 1px solid;
  border-color: var(--mediumGrey);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--white);
}

.cardBackground {
  height: 58%;
  background: radial-gradient(var(--mediumGrey), var(--lightGrey));
  border-top-right-radius: 0.5rem;
  box-shadow: 0px 0px 2px var(--darkGrey);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.pokemonImg {
  height: 150px;
  width: 150px;
}

.pokemonStats {
  font-size: small;
  font-weight: 400;
}

.pokemonStats span {
  font-weight: 600;
}

.pokemonStats:first-of-type {
  margin-bottom: 0.3rem;
}

.isSteel {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #94a0b1);
  border-top-right-radius: 0.5rem;
}

.isSteel span {
  color: #94a0b1;
}

.isDark {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #606060);
  border-top-right-radius: 0.5rem;
}

.isDark span {
  color: #606060;
}

.isDragon {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #e0ab5b);
  border-top-right-radius: 0.5rem;
}

.isDragon span {
  color: #e0ab5b;
}

.isIce {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #a9e3e8);
  border-top-right-radius: 0.5rem;
}

.isIce span {
  color: #a9e3e8;
}

.isGhost {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #776b93);
  border-top-right-radius: 0.5rem;
}

.isGhost span {
  color: #776b93;
}

.isRock {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #47433c);
  border-top-right-radius: 0.5rem;
}

.isRock span {
  color: #47433c;
}

.isPsy {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #48464a);
  border-top-right-radius: 0.5rem;
}

.isPsy span {
  color: #48464a;
}

.isFighting {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #8c7674);
  border-top-right-radius: 0.5rem;
}

.isFighting span {
  color: #8c7674;
}

.isGround {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #9b8565);
  border-top-right-radius: 0.5rem;
}

.isGround span {
  color: #9b8565;
}

.isFairy {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #f3b9b9);
  border-top-right-radius: 0.5rem;
}

.isFairy span {
  color: #f3b9b9;
}

.isElectric {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #dd9f3b);
  border-top-right-radius: 0.5rem;
}

.isElectric span {
  color: #dd9f3b;
}

.isPoison {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #887aa6);
  border-top-right-radius: 0.5rem;
}

.isPoison span {
  color: #887aa6;
}

.isNormal {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #cfba92);
  border-top-right-radius: 0.5rem;
}

.isNormal span {
  color: #cfba92;
}

.isFlying {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #cfba92);
  border-top-right-radius: 0.5rem;
}

.isFlying span {
  color: #cfba92;
}

.isBug {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #9cca5c);
  border-top-right-radius: 0.5rem;
}

.isBug span {
  color: #9cca5c;
}

.isWater {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #5888c8);
  border-top-right-radius: 0.5rem;
}

.isWater span {
  color: #5888c8;
}

.isFire {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #f49338);
  border-top-right-radius: 0.5rem;
}

.isFire span {
  color: #f49338;
}

.isGrass {
  height: 58%;
  background: linear-gradient(0deg, var(--white), #78b735);
  border-top-right-radius: 0.5rem;
}

.isGrass span {
  color: #78b735;
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .detailsContainer {
    gap: 1rem;
  }

  .pokemonInfos {
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
  }

  .infoCard {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
  }

  .pokemonCard {
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }

  .cardBackground {
    border-top-right-radius: 0.8rem;
    box-shadow: 0px 0px 4px var(--darkGrey);
  }

  .cardContent {
    padding: 2rem;
  }

  .pokemonImg {
    height: 390px;
    width: 390px;
  }

  .pokemonStats {
    font-size: medium;
  }

  .pokemonStats:first-of-type {
    margin-bottom: 1rem;
  }
  .pokemonStats {
    margin-bottom: 0.2rem;
  }
}
